# This is Git's per-user configuration file.
[include]
  path = ~/.gitconfig.local
[core]
  excludesfile = /Users/morita/.gitignore_global
  editor = nvim -c \"set fenc=utf-8\"
[commit]
  template = /Users/morita/.stCommitMsg
[ghq]
  root = ~/src
[alias]
  s = status
  c = checkout
  co = commit
  br = branch
  last = show HEAD
  pushs = push --set-upstream origin HEAD
  df = diff
  dfn = diff --name-only
  fa = fetch --all
  stash-find = !"git fsck --unreachable | awk '/commit/ {print $3}' | xargs git log --merges --no-walk --grep=WIP --all-match"
  stash-pick = cherry-pick -n -m1fa = fetch --all
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  tool = vimdiff
[mergetool]
  prompt = false
[init]
  defaultBranch = main
