# This is Git's per-user configuration file.
[include]
  path = ~/.gitconfig.local
[core]
  excludesfile = /Users/morita/.gitignore_global
  editor = nvim -c \"set fenc=utf-8\"
[commit]
  template = /Users/morita/.stCommitMsg
[ghq]
  root = ~/src
[alias]
  a = add
  ap = add --patch # stage to index
  up = restore -S --patch # unstage from index
  upw = restore -W --patch # delete from worktree
  upsw = restore -SW --patch# delete from index and worktree
  br = branch
  c = checkout
  co = commit
  coo = !"git commit --amend --no-edit --date=$(date +%Y-%m-%dT%H:%M:%S)"
  cp = cherry-pick
  d = diff
  df = diff --name-only # diff summary
  ds = diff --staged
  fa = fetch --all
  l = log
  la = log --graph --decorate --name-status --all
  ll  = log --graph --pretty=format:'%x09%C(auto)%h  %ad %Creset🐶(%C(cyan)%an%Creset)%x09%C(auto)%d%s' --date=format:'%Y-%m-%d %H:%M'
  last = show HEAD
  v = !"git branch --merged | grep -vE '\\*|develop|main|master'"
  vac = !"git branch --merged | grep -vE '\\*|develop|main|master' | xargs git branch -d"
  pushs = push --set-upstream origin HEAD
  rel = flow release start
  relf = flow release finish
  s = status
  save = stash save -u
  pop = stash pop stash@{0}
  stash-find = !"git fsck --unreachable | awk '/commit/ {print $3}' | xargs git log --merges --no-walk --grep=WIP --all-match"
  stash-pick = cherry-pick -n -m1fa = fetch --all
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  tool = vimdiff
[mergetool]
  prompt = false
[init]
  defaultBranch = main
