# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = soshi morita
	email = moritasoushi@gmail.com
[core]
	excludesfile = /Users/morita/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /private/var/folders/qj/tcw6w9n14rng5vykqv49m4l00000gq/T/AppTranslocation/3F6E16D4-BCA0-4CB9-AE60-F4FEE1FA698C/d/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/morita/.stCommitMsg
[ghq]
	root = ~/src
[alias]
	s = status
	c = checkout
	co = commit
	br = branch
	last = show HEAD
